<div class="section-header-area">
	<div class="header">
		<div class="header-content">
			<div class="question-number"><span>Question 1</span></div>
			<h1>
				Does my family history put me at a higher risk for Alzheimer’s Disease than other people?
			</h1>
			<h2>
				Genetic testing is usually considered when a person might be at higher risk for a particular condition. Here we help you explore whether you may be at greater risk of getting late-onset Alzheimer&rsquo;s Disease, the form which affects older people, based on your family history.
			</h2>
		</div>
	</div>
</div>
<div class="wrap">
	<div class="content-area">
		<div class="maincol">
			<h3>Everyone is at risk</h3>
			<p>
				On average about 1 out of every 100 people will develop Alzheimer&rsquo;s by the time they turn 70. By 85, the risk is about 10 out of every 100 people.
			</p>
			<h3>Probability of having Alzheimer&rsquo;s disease (or not) by ages 70 and 85. </h3>
			<h4>Insert Chart Here: Alzheimer&rsquo;s Disease risk for the General Population</h4>
			<p>
				A family history of Alzheimer&rsquo;s may increase your risk
				If any of your parents, brothers or sisters have been diagnosed with Alzheimer&rsquo;s disease, your chance of developing this disorder increases by as much as two or three times.
			</p>
			<h4>Insert Chart Here: Alzheimer&rsquo;s Disease risk if a close family member had Alzheimer&rsquo;s Disease</h4>
			<p>Limitations to what you can learn from family history:</p>
			<ul>
				<li>Alzheimer&rsquo;s Disease is hard to diagnose and may have been misdiagnosed in your family member.</li>
				<li>Dementia can arise from many causes, only one of which is Alzheimer&rsquo;s.</li>
				<li>Non-inherited factors such as head injuries and things that raise your risk for heart disease&mdash;such as smoking, obesity, poorly controlled diabetes, lack of exercise, and high blood pressure&mdash;may be involved. We don’t understand all the non-inherited factors that influence one’s risk for Alzheimer’s.</li>
			</ul>
			<h3>Gather your family history</h3>
			<p>
				To determine if your family history may put you at higher risk, you need to know if anyone in your immediate family (parents, brothers and sisters) has or had late onset Alzheimer&rsquo;s.
			</p>
			<h3>Once you know your family history please answer the following questions.</h3>
			<p><span class="highlight">Note:</span> If you are adopted or otherwise unable to obtain your family history, this question may not apply to your final decision. Please read through as this section includes some useful general information. </p>
			<a href="">Further Resources about Family History</a>
		</div>
		<div class="sidebar">
			<div class="sidebar-container" >
				<div class="sidebar-block" id="sticker">
					<div class="sidebar-body">
						<div class="sidebar-content">
							<div class="sidebar-intro">When you are ready to complete this section, please check one of the following boxes:</div>
							<div class="questions">
								<label>
									<input type="radio" class="radio" value=""   name="" />
									<div>
										My family history indicates I may have a higher risk of getting Alzheimer&rsquo;s Disease.
									</div>
								</label>
								<hr />
								<label>
									<input type="radio" class="radio" value="" name="" />
									<div>
										My family history does not indicate that I have a higher risk of getting Alzheimer&rsquo;s Disease.
									</div>
								</label>
								<hr />
								<label>
									<input type="radio" class="radio" value="" name="" />
									<div>
										I am unsure of my family history.
									</div>
								</label>										
								<hr />
								<label>
									<input type="radio" class="radio" value="" name="" />
									<div>
										Regardless of my family history, I am very concerned about Alzheimer&rsquo;s Disease.
									</div>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



