<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gene Test Or Not?</title>
	<link rel="stylesheet" type="text/css" href="/styles/styles.css">
	<link rel="stylesheet" type="text/css" href="/styles/disclaimer.css">
</head>
<body id="disclaimer">

	<nav>
		<div id="stamp">
			<h2>Alzheimer's<br>Disease</h2>
		</div>
		<h1 id="title">Should I Get the Gene Test?</h1>
	</nav>
	<hr>
	<h3 class="blue">RESEARCH WEBSITE</h3>
	<h4><b>For Research Participants in the Study:</b></h4>
	<p>“Evaluation of a Web-Based Decision Aid for People <br>Considering a Genetic Test for Alzheimer’s Risk”</p>

	<article>
		<h3><b>IMPORTANT: BEFORE WE BEGIN</b></h3>
		<section>	
			<p>Alzheimer’s disease is a brain ailment causing symptoms of dementia (mental deterioration, memory loss, personality changes) which worsen over time. The common form of the disease, called late-onset Alzheimer’s, develops after age 60. There is a rare form of this disease, called early-onset Alzheimer’s, which develops between the ages of 30-60.</p>
			<p><b>This site is only designed to help with late-onset Alzheimer’s and cannot help with early-onset Alzheimer’s.</b></p>
			<p>Genetic testing can provide useful information for some people but may not be appropriate for others.</p>
			<p>Only you can decide whether genetic testing is right for you.</p>
		</section>
		<a href="landing">I understand. Let’s Begin</a>
	</article>
	<hr>
	<h5>© 2015 Virginia Tech</h5>
</body>
</html>