<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gene Test Or Not?</title>
</head>
<body>

	<div id='main'>
      <%= yield %>
  </div>

	<script src="javascripts/libraries/jquery.js"></script>
	<script src="javascripts/scripts.js"></script>
</body>
</html>