<div class="aboutpage">
	<div class="row">
		<div class="column">
			<h1> About this <span class="segment"> Decision Aid </span> </h1>
			<p>This genetic-test decision aid is provided as a public service and is
				not associated with any commercial entities. It is not intended to
				advocate for or against gene testing. It is designed to help users make
				their own best personal decision.</p>
			<p>This decision aid is based on research conducted by Doris Teichler
				Zallen as reported in her book:	<a href="http://rutgerspress.rutgers.edu/product/978-0-8135-4580-6-To-Test-or-Not-To-Test,858.aspx?skuid=526" class="bookname" target="blank"> <i>To Test or Not to Test: A Guide to Genetic Screening and Risk</i> </a>	(Rutgers University Press, 2008).</p>
			<p>Doris Teichler Zallen is a professor of science and technology studies
				at Virginia Tech. She has served on the National Institutes of Health
				Recombinant DNA Advisory Committee and is the recipient of awards for
				her research, teaching, and public-outreach activities. She is also the
				author of <i>Does It Run in the Family?: A Consumer's Guide to DNA Testing for Genetic Disorders</i> (Rutgers University Press).</p>
			<div class="caption">The development of a prototype of this decision aid was supported by a
				grant from the Institute for Society, Culture, & Environment at
				Virginia Tech. In a separate study, this prototype was then evaluated
				by over one thousand individuals and changes were made based on the
				feedback received. This work was supported in part by Award No. 15-5
				from the Commonwealth of Virginia’s Alzheimer’s and Related Diseases
				Research Award Fund, administered by the Virginia Center on Aging,
				School of Allied Health Professionals, Virginia Commonwealth
				University.</div>
		</div>
	</div>
</div>
