<div class="disclaimerpage">
	<div class="row">
		<div class="column">
			<h1> Disclaimer </h1>
			<p>No decision aid replaces the conversation patients should have with
				their clinicians to make important, clinical decisions. Use of this
				decision aid carries no liability to its developers, to Virginia Tech
				Intellectual Properties, Inc., or to Virginia Tech.</p>
		</div>
	</div>
</div>
