<div class="disclaimerpage">
	<div class="row">
		<div class="column">
			<h1> Disclaimer </h1>
			<p>This decision aid does not replace the conversation patients should have with their clinicians to make important, clinical decisions.</p>
			<p>Alzheimer’s disease is a brain ailment causing symptoms of dementia (mental deterioration, memory loss, personality changes) which worsen over time. The common form of the disease, called late-onset Alzheimer’s, develops after age 60. There is a rare form of this disease, called early-onset Alzheimer’s, which develops between the ages of 30-60.</p>
			<h3>This site is only designed to help with late-onset Alzheimer’s and cannot help with early-onset Alzheimer’s.</h3>
			<br>
			<p>This decision aid is provided for informational purposes only. Use of this decision aid carries no liability to its developers, to Virginia Tech Intellectual Properties, Inc., or to Virginia Tech.</p>
		</div>
	</div>
</div>
