<div class="resourcespage further-resources">
	<div class="row">
		<div class="column">
			<h1>Resources</h1>
			<h2>To Learn More About Alzheimer&#8217;s Disease</h2>
			<ul>
				<li><a href="https://www.nia.nih.gov/alzheimers" target="_blank">Alzheimer&#8217;s Disease Education and Referral (ADEAR) Center</a></li>
				<li><a href="http://alz.org/alzheimers_disease_what_is_alzheimers.asp" target="_blank">Alzheimer&#8217;s Association</a></li>
			</ul>
			<a name="family-history"></a>
			<h2>To Build a Family Health History</h2>
			<ul>
				<li>"<a href="https://cbiit.github.io/FHH/html/index.html" target="_blank">My Family Health Portrait</a>," U.S. Surgeon General&#8217;s Family History Initiative</li>
				<li>National Society of Genetic Counselors: <a href="https://www.aboutgeneticcounselors.com/Reasons-to-See-a-Genetic-Counselor/Exploring-Your-Family-History" target="_blank">Collecting Your Family History</a></li>
				<li><a href="https://www.ama-assn.org/delivering-care/population-health/collecting-family-history" target="_blank">American Medical Association</a></li>
				<li><a href="http://www.familyhealthhistory.org/" target="_blank">Genetic Alliance</a></li>
			</ul>
			<a name="understanding"></a>
			<h2>To Understand the APOE Gene Test</h2>
			<ul>
				<li><a href="http://ghr.nlm.nih.gov/gene/APOE" target="_blank">Genetics Home Reference - APOE</a></li>
				<li><a href="http://www.ncbi.nlm.nih.gov/books/NBK1161/" target="_blank">GeneReviews: Alzheimer Disease Overview</a></li>
			</ul>
			<a name="timing"></a>
			<h2>To Consider Timing Issues</h2>
			<ul>
				<li>National Society of Genetic Counselors <a href="https://www.nsgc.org/POLICY/Position-Statements/Position-Statements/Post/genetic-testing-of-minors-for-adult-onset-conditions" target="_blank">statement on genetic testing of children for adult-onset disorders</a></li>
				<li>American Medical Association, <a href="https://code-medical-ethics.ama-assn.org/ethics-opinions/genetic-testing-children" target="_blank">American Medical Association, Opinion 2.2.5 - Genetic Testing of Children</a></li>
			</ul>
			<a name="to-evaluate"></a>
			<h2>To Evaluate Advantages and Disadvantages of Genetic Testing</h2>
			<ul>
				<li>NIH Genetics <a href="http://ghr.nlm.nih.gov/handbook/testing" target="_blank">Home Reference on Genetic Testing</a></li>
				<li>Zallen, Doris Teichler, <a href="https://www.rutgersuniversitypress.org/to-test-or-not-to-test/9780813543789/" target="_blank"><i>To Test or Not to Test: A Guide to Genetic Screening and Risk</i></a> (Rutgers University Press: 2008)</li>
				<li>Alzheimer's Disease International "<a href="https://www.alzint.org/news-events/news/lancet-commission-identifies-two-new-risk-factors-for-dementia-and-suggests-45-of-cases-could-be-delayed-or-reduced/" target="_blank">Lancet Commission identifies two new risk factors for dementia and suggests 45% of cases could be delayed or reduced</a>"</li>
				<li>The Alzheimer's Association, <a href="https://www.alz.org/us-pointer/home.asp" target="_blank">U.S. Pointer Lifestyle Intervention Study</a></li>

			</ul>
			<h2>Privacy related</h2>
			<ul>
				<li>National Human Genome Research <a href="http://www.genome.gov/10002077" target="_blank"> on Genetic Discrimination</a></li>
				<li><a href="https://www.ashg.org/advocacy/gina/" target="_blank">American Society of Human Genetics, The Genetic Information Nondiscrimination Act (GINA)</a></li>
			</ul>
			<h2>How to Participate in Research</h2>
			<ul>
				<li>The Alzheimer Association TrialMatch Website: <a href="http://www.alz.org/TrialMatch" target="_blank">www.alz.org/TrialMatch</a></li>
				<li>The Alzheimer&#8217;s Disease Education and Referral (ADEAR) Center: <a href="http://www.nia.nih.gov/alzheimers/clinical-trials" target="_blank">www.nia.nih.gov/alzheimers/clinical-trials</a></li>
			</ul>
			<a name="find-a-counselor"></a>
			<h2>To Locate Genetic Professionals in your Area</h2>
			<ul>
				<li><a href="http://www.nsgc.org/" target="_blank">National Society of Genetic Counselors</a></li>
				<li>The American College of Medical Genetics &#8212; <a href="https://clinics.acmg.net" target="_blank">Find Genetic Services</a></li>
			</ul>
			</ul>
			<h2>Additional Resources</h2>
			<ul>
				<li>J.C.S. Breitner et al., "<a href="http://www.ncbi.nlm.nih.gov/pubmed/10430421" target="_blank">APOE-e4 count predicts age when prevalence of AD increases, then declines: The Cache County Study</a>," Neurology 53:321-331 (1999).</li>
				<li>K.D. Christensen et al., "<a href="http://www.ncbi.nlm.nih.gov/pubmed/18344711" target="_blank">Incorporating ethnicity into genetic assessment for Alzheimer&#8217;s disease: the REVEAL study experience</a>," Genetics in Medicine 10:207-214 (2008).</li>
				<li>S. Seshadri and P.A. Wolf, "<a href="http://www.ncbi.nlm.nih.gov/pubmed/18031707" target="_blank">Lifetime risk of stroke and dementia: current concepts, and estimates from the Framingham Study</a>," The Lancet Neurology 6:1106-1114 (2007).</li>
			</ul>
		</div>
	</div>
</div>