<div class="resourcespage further-resources">
	<div class="row">
		<div class="column">
			<h1>Resources</h1>
			<h2>To Learn More About Alzheimer's Disease</h2>
			<ul>
				<li><a href="https://www.nia.nih.gov/alzheimers" target="blank">Alzheimer's Disease Education and Referral (ADEAR) Center</a></li>
				<li><a href="http://alz.org/alzheimers_disease_what_is_alzheimers.asp" target="blank">Alzheimer's Association</a></li>
			</ul>
			<a name="family-history"></a>
			<h2>To Build a Family Health History</h2>
			<ul>
				<li>"<a href="https://familyhistory.hhs.gov/FHH/html/index.html" target="blank">My Family Health Portrait</a>," U.S. Surgeon General's Family History Initiative</li>
				<li>National Society of Genetic Counselors: <a href="http://nsgc.org/p/cm/ld/fid=52" target="blank">Collecting Your Family History</a></li>
				<li><a href="http://www.ama-assn.org/ama/pub/physician-resources/medical-science/genetics-molecular-medicine/family-history.page" target="blank">American Medical Association</a></li>
				<li><a href="http://www.familyhealthhistory.org/" target="blank">Genetic Alliance</a></li>
			</ul>
			<a name="understanding"></a>
			<h2>To Understand the APOE Gene Test</h2>
			<ul>
				<li><a href="http://ghr.nlm.nih.gov/gene/APOE" target="blank">Genetics Home Reference - APOE</a></li>
				<li><a href="http://www.ncbi.nlm.nih.gov/books/NBK1161/" target="blank">GeneReviews: Alzheimer Disease Overview</a></li>
			</ul>
			<a name="timing"></a>
			<h2>To Consider Timing Issues</h2>
			<ul>
				<li>National Society of Genetic Counselors <a href="http://nsgc.org/p/bl/et/blogid=47&blogaid=259" target="blank">statement on genetic testing of children for adult-onset disorders</a></li>
				<li>American Medical Association, <a href="http://www.ama-assn.org/ama/pub/physician-resources/medical-ethics/code-medical-ethics/opinion2138.page" target="blank">Opinion 2.138 - Genetic Testing of Children</a></li>
			</ul>
			<a name="to-evaluate"></a>
			<h2>To Evaluate Advantages and Disadvantages of Genetic Testing</h2>
			<ul>
				<li>NIH Genetics <a href="http://ghr.nlm.nih.gov/handbook/testing" target="blank">Home Reference on Genetic Testing</a></li>
				<li>Zallen, Doris Teichler, <a href="http://rutgerspress.rutgers.edu/product/978-0-8135-4580-6-To-Test-or-Not-To-Test,858.aspx?skuid=526" target="blank"><i>To Test or Not to Test: A Guide to Genetic Screening and Risk</i></a> (Rutgers University Press: 2008)</li>
			</ul>
			<h2>Privacy related</h2>
			<ul>
				<li>National Human Genome Research <a href="http://www.genome.gov/10002077" target="blank"> on Genetic Discrimination</a></li>
				<li><a href="http://www.ncsl.org/research/health/genetic-nondiscrimination-in-health-insurance-laws.aspx" target="blank">Genetics And Health Insurance State Anti-Discrimination Laws</a> (2008)</li>
			</ul>
			<h2>How to Participate in Research</h2>
			<ul>
				<li>The Alzheimer Association TrialMatch Website: <a href="http://www.alz.org/TrialMatch" target="blank">www.alz.org/TrialMatch</a></li>
				<li>The Alzheimer's Disease Education and Referral (ADEAR) Center: <a href="http://www.nia.nih.gov/alzheimers/clinical-trials" target="blank">www.nia.nih.gov/alzheimers/clinical-trials</a></li>
			</ul>
			<a name="find-a-counselor"></a>
			<h2>To Locate Genetic Professionals in your Area</h2>
			<ul>
				<li><a href="http://www.nsgc.org/" target="blank">National Society of Genetic Counselors</a></li>
				<li>The American College of Medical Genetics — <a href="https://www.acmg.net/ACMG/Find_Genetic_Services/ACMG/ISGweb/FindaGeneticService.aspx?hkey=720856ab-a827-42fb-a788-b618b15079f9" target="blank">Find Genetic Services</a></li>
			</ul>
			<h2>Additional Resources</h2>
			<ul>
				<li>J.C.S. Breitner et al., "<a href="http://www.ncbi.nlm.nih.gov/pubmed/10430421" target="blank">APOE-e4 count predicts age when prevalence of AD increases, then declines: The Cache County Study</a>," Neurology 53:321-331 (1999).</li>
				<li>K.D. Christensen et al., "<a href="http://www.ncbi.nlm.nih.gov/pubmed/18344711" target="blank">Incorporating ethnicity into genetic assessment for Alzheimer's disease: the REVEAL study experience</a>," Genetics in Medicine 10:207-214 (2008).</li>
				<li>S. Seshadri and P.A. Wolf, "<a href="http://www.ncbi.nlm.nih.gov/pubmed/18031707" target="blank">Lifetime risk of stroke and dementia: current concepts, and estimates from the Framingham Study</a>," The Lancet Neurology 6:1106-1114 (2007).</li>
			</ul>
		</div>
	</div>
</div>
