<div class="main-body">
			<h1>Glossary</h1>
			<dl>
				<dt>Alzheimer's disease</dt>
				<dd>A neurological disorder in which brain-cell function is impaired resulting in symptoms of dementia (mental deterioration, memory loss, personality changes) which worsen over time. Both genetic and environmental factors contribute in ways not yet understood. The common form of Alzheimer's disease develops after age 60 and is the 6th leading cause of death in the U.S. (There is a rare, early-onset, form of this disease which develops between the ages of 30-60 and has a different genetic basis.)</dd>
				<dt>APOE</dt>
				<dd>A gene whose function is to produce a particular protein, apolipoprotein E, which binds with cholesterol and other fats in the blood and carries these substances to the liver. There are three forms of this gene: e2, e3, and e4. The most common form is e3, found in more than half the population. The e4 form is associated with a higher risk for Alzheimer's disease.</dd>
				<dt>CLIA Certified Laboratory</dt>
				<dd>A laboratory that meets the regulations put forth by the Clinical Laboratory Improvement Amendments of 1988. You can find out the CLIA certification status of a laboratory on the <a href="http://wwwn.cdc.gov/clia/Resources/LabSearch.aspx">U.S. Centers for Disease Control and Prevention (CDC) CLIA web pages</a>. </dd>
				<dt>complex disorder</dt>
				<dd>An illness that arises from a combination of genetic and environmental factors. Alzheimer's disease, cancer, heart disease, diabetes, and many other common health problems fall into this category. (See also "multifactorial disorder.")</dd>
				<dt>dementia</dt>
				<dd>A general term for a decline in mental ability severe enough to interfere with daily life. Symptoms include loss of memory, judgment, language, complex motor skills, and other intellectual functions.</dd>
				<dt>family health history</dt>
				<dd>A collection of health information about individuals in a family group, often displayed in pictorial form, to allow patterns of illness to be recognized and the possible role of genetic factors to be considered.</dd>
				<dt>gene</dt>
				<dd>A defined section along the chromosome that encodes information for the production of a particular protein necessary for the functioning of the organism.</dd>
				<dt>genetic counseling</dt>
				<dd>A multifaceted interaction between a genetic professional and a client in which information about individual and family genetic risks is provided along with related information about tests, treatments, and reproductive options.</dd>
				<dt>genetic test</dt>
				<dd>Any type of laboratory procedure or investigation that reveals the status of a person's chromosomes or of that person's genes.</dd>
				<dt>late-onset disorder</dt>
				<dd>A disorder which is not apparent at birth but develops later in the course of an individual's life.</dd>
				<dt>multifactorial disorder</dt>
				<dd>A disorder that can be brought on by the joint action of multiple factors. The contributing factors include several different genes as well as various types of agents from the environment. (See also "complex disorder.")</dd>
				<dt>mutation</dt>
				<dd>Any permanent change in the genetic material that alters the nature of the product made under the direction of that gene.</dd>
				<dt>probability</dt>
				<dd>The odds or chance that an event will happen.</dd>
				<dt>susceptibility gene</dt>
				<dd>A gene or mutation within a gene that increases the chances that an individual will develop a disorder later on in his or her life. However, the disorder may not develop even if the gene or mutation are present, and it may occur even in their absence. Examples include the APOE e4 gene which raises the risk of Alzheimer's disease and the BRCA1 and BRCA2 genes which, when mutated, raise the risk of breast and/or ovarian cancer. (See "complex disorder.")</dd>
				<dt>susceptibility test</dt>
				<dd>A test for a particular gene or mutation whose presence can increase the chances of developing a health problem later in life.</dd>
			</dl>
		</div>
