<style>
	.header {
		display:none;
	}
	@media (min-width:600px) {
		.header {
			background: linear-gradient(to right,rgba(13, 166, 242, 0.95), rgba(145, 77, 179, 0.9));
		}
		.header .logo {
			display:none;
		}
		.logo-big {
			display:block;
		}
	}
	.main-content {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom:0;
	}
</style>
<div class="homepage">
	<div class="row">
		<div class="column">
			<div class="logo-big">
				<%= image_tag('logo.png') %>
			</div>
			<div class="home-paragraphs">
				<div class="home-para1">
					An online tool to help you decide whether or not to get tested to learn your genetic risk for <span class="segment">late-onset</span> Alzheimer&rsquo;s Disease.
				</div>
				<div class="home-para2">
					<p>
						Genetic testing can provide useful information for some people but may not be appropriate for others. 
					</p>
					<p>
						Only you can decide whether genetic testing is right for you.
					</p>
				</div>
			</div>
			<form method="get" action="family-risks.html">
				<div class="button-consider">
					<%= link_to "Consider 4 Questions", family_risks_path %>
				</div>
			</form>
		</div>
	</div>
</div>
