<style>
	/* temporary hack ! */

.header {
	background: linear-gradient(to right,rgba(13, 166, 242, 0.95), rgba(145, 77, 179, 0.9)) ;
}

.header .logo {
	display:none;
}


</style>



<div class="homepage">
	<div class="main-body">
	<div class="logo-big">
		<%= image_tag('logo.png') %>
	</div>
	<h3>An online tool to help you decide whether or not to get tested to learn your genetic risk for <span class="segment">late-onset</span> Alzheimer&rsquo;s Disease.</h3>
	<p>Genetic testing can provide useful information for some people but may not be appropriate for others. Only you can decide whether genetic testing is right for you.</p>
	<hr />
	<form method="get" action="family-risks.html">
		<div class="button-consider">

			<%= link_to "Consider 4 Questions", family_risks_path %>
			
		</div>
	</form>
</div>
</div>

