<style>
	.header {
		display:none;
	}
	.main-content {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom:0;
	}
	.important {
		font-size:.8rem;
	}
	.homepage {
		padding-top:2rem;
		padding-bottom:2rem;
	}
</style>
<div class="homepage">
	<div class="row">
		<div class="column">
			<div class="logo-big">
				<%= image_tag('logo.png') %>
			</div>
			<div class="home-paragraphs">
				<div class="home-para1">
					An online tool to help you decide whether or not to get tested to learn your genetic risk for <span class="segment">late-onset</span> Alzheimer&rsquo;s disease.
				</div>
				<div class="home-para2">
					<p>
						Genetic testing can provide useful information for some people but may not be right for others. 
					</p>
					<p>
						Only you can decide whether genetic testing is right for you.
					</p>
				</div>
			</div>
			<form method="get" action="family-risks.html">

				<div id="dialog-message">
					<div class="panel panel-home-important">
						<div class="panel-header">Important:</div>
						<div class="panel-body">
							<p>
								Alzheimer’s disease is a brain ailment causing symptoms of dementia (mental deterioration, memory loss, personality changes) which worsen over time. The common form of the disease, called late-onset Alzheimer’s, develops after age 60. There is a rare form of this disease, called early-onset Alzheimer’s, which develops between the ages of 30-60.
							</p>
							<h3>
								This site is only designed to provide information relating to late-onset Alzheimer’s and is not intended to address early-onset Alzheimer’s.
							</h3>
							<p>
								This decision aid does not replace the conversation patients should have with their clinicians to make important clinical decisions.</p>
							<i class="fa fa-close modal-close"></i>
						</div>
						<div class="button-consider">
							<%= link_to "I Understand. Let's Begin", family_risks_path %>
						</div>
					</div>
				</div>
				<div class="button-consider" id="modal">
					<%= link_to "Consider These 4 Questions" , :onClick="ga('send', 'event', { eventCategory: 'clickthrough', eventAction: 'Advance', eventLabel: 'consider4Q'});" %>
				</div>
			</form>
		</div>
	</div>
</div>
