<div class="howtousepage">
	<div class="row">
		<div class="column">
			<h1>How to use this website</h1>
			<p><a href="http://genetestornot.org">Genetestornot.org</a> is designed to help you answer the four fundamental questions that help you decide whether to get a gene test. You may work through them in any order. <strong>For your privacy and security the site does not save your information on the site</strong>.</p>
			<p>If you need more time to review the questions, you are welcome to return at any time. You can bookmark the site or simply write it down: <a href="http://genetestornot.org">genetestornot.org</a>.</p>
			<p>Each section offers a web page to help you learn about one of the 4 questions. Then there is a link to another page where you can select your answer to that question. The web site will save your answers using a browser cookie (the info is saved on your machine not on ours). If the cookie gets deleted you will need to go back and re-check the answer boxes. We have kept the tool easy to use, so you can jot down an answer and fill it back in if need be.</p>
			<p>We appreciate your feedback and hope you find the educational tool useful and worthwhile.</p>
			<div class="panel">
				<div class="panel-header">How-to Highlights:</div>
				<div class="panel-body">
					<ul>
						<li>You may work through the 4 sections in any order but we went ahead and gave it order.</li>
						<li>You may visit the site as many times as you wish, but: your answers are stored in a cookie on your machine. If the cookie is deleted (or eaten by a cookie monster), the answers go away. No need to worry. The questions are easy and brief.</li>
						<li>If you need to return, save or bookmark the website address: genetetestornot.org</li>
						<li>We do not save any of your information. <strong>All your activity is kept private</strong>.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
