<div class="privacypage">
	<div class="row">
		<div class="column">
			<h1> Privacy Policy </h1>
			<p>
				All communication between Genetestornot.org and your device is encrypted for privacy and security. Any answers you enter into this website will only be saved on your machine. We do not access your information.</p>
<p>For full functionality of this website, we use a browser cookie that is saved only on your computer. You may easily clear all data by clicking a button on the concluding page of the website. Clearing your web browser cache will also delete your answers.</p>
<p>Cookies are small text files that are placed on your computer by websites that you visit. They are widely used to make websites work, or work more efficiently, and on some sites (but not this one) to provide information to the owners of the site.
Genetestornot.org does not access your information.</p> 
<p>Most web browsers allow some control of cookies through browser settings. To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, visit <a href="http://www.allaboutcookies.org" target="blank">www.allaboutcookies.org</a>.</p>
		</div>
	</div>
</div>
