<div class="main-body">
			<h1>
				Privacy Policy
			</h1>
			<p>
				Any answers you enter into this tool will only be available to you and are therefore confidential. All answers will be removed once you quit your browser session.
			</p>
		</div>
