<div class="disclaimerpage">
	<div class="row">
		<div class="column">
			<!--- Begin SurveyPlanet survey embed--><iframe frameborder="0" width="800" height="800" src="https://surveyplanet.com/56e865f6493d480c1bf12985"></iframe><!--- End SurveyPlanet survey embed -->
		</div>
	</div>
</div>
