@mixin chart-family {
	.ages {
		td {
			@include text-chart-heads;
		}
	}
	padding-left:4rem;
	padding-right:0;
	@media (min-width:1044px) {
		padding-left:1rem;
		padding-right:1rem;
	}
	.column {
		margin:auto;
		max-width:350px;
		@media (min-width:1044px) {
			margin:auto;
			max-width:830px;
		}
	}
	ul {
		width:100%;
		display:table;
		list-style-type:none;
		margin:0;
		padding:0;
		margin-top:1rem;
		@media (min-width:1044px) {
			margin-top:1.5rem;
		}
	}
	li {
		padding-right:2rem;
		margin-bottom:1rem;
		@media (min-width:1044px) {
			display:table-cell;
			padding-left:60px;
			width:50%;
		}
	}
	table {
		width:100%;
		position:relative;
		border-collapse:separate;
		border-spacing:3px;
		&:before {
			@include text-chart-axis;
			content:'0%—';
			position:absolute;
			width:70px;
			text-align:right;
			left:-66px;
			bottom:48px;
			@media (min-width:$breakpoint) {
				bottom:51px;
			}
		}
		&:after {
			content:'';
			position:absolute;
			height:1px;
			width:100%;
			border-top: 2px solid rgba(100, 100, 100, 0.05) ;
			top:181px;
			@media (min-width:$breakpoint) {
				top:186px;
			}
		}
	}
	td {
		width:50%;
		position:relative;
	}
	tr.chart-head {
		td {
			@include text-chart-heads;
			vertical-align:bottom;
			height:3rem;
			text-align:center;
			font-weight:bold;
			font-size:1.1rem;
			line-height:1.1;
			padding-bottom:.4rem;
		}
	}
	tr.chart-main {
		td {
			height:250px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			@include linear-gradient("to top", #fafafa, #eee);
			box-shadow:0 1px 6px rgba(0, 0, 0, 0.2) inset ;
		}
		td:first-child {
			position:relative;
			&:before {
				@include text-chart-axis;
				content:'100%—';
				position:absolute;
				width:70px;
				text-align:right;
				top:-10px;
				left:-70px;
			}
			&:after {
				@include text-chart-axis;
				content:'50%—';
				height:30px;
				position:absolute;
				width:70px;
				text-align:right;
				top:50%;
				margin-top:-15px;
				left:-70px;
			}
		}
	}
	tr.ages {
		td {
			text-align:center;
			line-height:1.2;
		}
		i {
			font-style:normal;
			display:block;
		}
		b {
			font-size:1.3rem;
			display:block;
		}
	}
	[class^="age-"] {
		@include text-chart-heads;
		position:absolute;
		bottom:0;
		width:99%;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		@include linear-gradient("to top", $purple, $purple);
		white-space:nowrap;
	}
	.general {
		.age-70 {
			height:1%;
			&:before {
				content:'1%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-85 {
			height:12%;
			&:before {
				content:'10-15%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
	}
	.with-1-copy {
		.age-70 {
			height:2%;
			&:before {
				content:'2%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-85 {
			height:25%;
			&:before {
				content:'25%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
	}
	.with-2-copies {
		.age-65 {
			height:25%;
			&:before {
				content:'20-30%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-75 {
			height:32%;
			&:before {
				content:'25-40%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-85 {
			height:47%;
			&:before {
				content:'40-55%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
	}
}
@mixin chart-useful {
	[class^="age-"] {
		@include text-chart-heads;
	}
	padding-left:4rem;
	padding-right:0;
	@media (min-width:1044px) {
		padding-left:1rem;
		padding-right:1rem;
	}
	.column {
		margin:auto;
		max-width:350px;
		@media (min-width:1044px) {
			max-width:$bodywidth-wide;
		}
	}
	ul {
		width:100%;
		display:table;
		list-style-type:none;
		margin:0;
		padding:0;
		margin-top:2rem;
		@media (min-width:1044px) {
			margin-bottom:1rem;
		}
	}
	li {
		padding-right:2rem;
		margin-bottom:1rem;
		@media (min-width:1044px) {
			display:table-cell;
			padding-left:60px;
			width:33%;
		}
	}
	table {
		width:100%;
		position:relative;
		border-collapse: separate;
		border-spacing:3px;
		&:before {
			@include text-chart-axis;
			content:'0%—';
			position:absolute;
			width:70px;
			text-align:right;
			left:-66px;
			bottom:43px;
			@media (min-width:$breakpoint) {
				bottom:45px;
			}
		}
		&:after {
			content:'';
			position:absolute;
			height:1px;
			width:100%;
			border-top: 2px solid rgba(100, 100, 100, 0.05) ;
			top:159px;
			@media (min-width:$breakpoint) {
				top:163px;
			}
		}
	}
	td {
		width:33%;
		position:relative;
	}
	tr.chart-head {
		td {
			vertical-align:top;
			text-align:center;
			font-weight:600;
			@include text-chart-heads;
			white-space:nowrap;
			padding-bottom:.4rem;
		}
	}
	tr.chart-main {
		td {
			height:250px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			@include linear-gradient("to top", #fafafa, #eee);
			box-shadow:0 1px 6px rgba(0, 0, 0, 0.2) inset ;
		}
		td:first-child {
			position:relative;
			&:before {
				@include text-chart-axis;
				content:'100%—';
				position:absolute;
				width:70px;
				text-align:right;
				top:-11px;
				left:-70px;
			}
			&:after {
				@include text-chart-axis;
				content:'50%—';
				height:30px;
				position:absolute;
				width:70px;
				text-align:right;
				top:50%;
				margin-top:-15px;
				left:-70px;
			}
		}
	}
	tr.ages {
		td {
			text-align:center;
			line-height:1.2;
			@include text-chart-heads;
		}
		i {
			font-style:normal;
			display:block;
		}
		b {
			font-size:1.3rem;
			display:block;
		}
	}
	[class^="age-"] {
		position:absolute;
		bottom:0;
		width:99%;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		@include linear-gradient("to top", $purple, $purple);
		white-space:nowrap;
	}
	.general {
		.age-65 {
			height:1%;
			&:before {
				content:'1%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-75 {
			height:2%;
			&:before {
				content:'2%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-85 {
			height:12%;
			&:before {
				content:'10-15%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
	}
	.with-1-copy {
		.age-65 {
			height:7.5%;
			&:before {
				content:'5-10%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-75 {
			height:20%;
			&:before {
				content:'15-20%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-85 {
			height:32%;
			&:before {
				content:'25-40%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
	}
	.with-2-copies {
		.age-65 {
			height:25%;
			&:before {
				content:'20-30%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-75 {
			height:32%;
			&:before {
				content:'25-40%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-85 {
			height:47%;
			&:before {
				content:'40-55%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
	}
}
@mixin chart-legend {
	@include font-legend;
	list-style-type:none;
	margin: 1.5rem 0;
	padding:0;
	li {
		margin-top:1rem;
		margin-bottom:1rem;
		position:relative;
		padding-left:34px;
		padding-top:0;
		padding-bottom:0;
		&:before {
			content:'';
			position:absolute;
			top:2px;
			height:24px;
			left:0;
			width:24px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
		}
	}
	.legend-purple {
		&:before {
			background-color:$purple;
		}
	}
	.legend-gray {
		&:before {
			background-color:#ccc;
		}
	}
}
@mixin procon-hd {
	@include font-lato;
	font-weight:bold;
	font-size:1.4rem;
	margin-bottom:.25rem;
}
@mixin procon-blurb {
	font-style:italic;
	@include font-lato;
	@include lineheight-hd;
	font-size:1.2rem;
	margin-top:1rem;
	margin-bottom:1rem;

	.section-pro & {
		color:darken($purple,20%);
	}
	.section-con & {
		color:darken($blue,20%);
	}
}
@mixin quote {
	margin-left:.2rem;
	margin-top:1.5rem;
	margin-right:.2rem;
	padding-right:.8rem;
	margin-bottom:1rem; 
	font-style:normal;
	padding-left:.8rem;
	padding-top:.5rem;
	padding-bottom:.5rem;
	font-size:1rem;
	font-weight:500;
	position:relative;
	box-shadow:0 0 2rem #fff inset;
	&:before {
		font-weight:700;
		content:'\201C';
		position:absolute;
		font-size:3.5rem;
		top:-1.3rem;
		left:-.6rem;
	}
	&:after {
		font-weight:700;
		content:'\201D';
		position:absolute;
		font-size:3.5rem;
		bottom:-2.2rem;
		right:-.4rem;;
	}
}
@mixin quote-section-defaults {
	img {
		display:block;
		margin:auto;
	}
	
	.procon-hd {
		@include procon-hd;
	}
	.procon-blurb {
		@include procon-blurb;
	}
	
	.quote {
		@include quote;
	}
	.play-video {
		@include font-roboto;
		&:before {
			content:'\f144';
			display:inline-block;
			font-family:FontAwesome;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		
	}
}
@mixin section-pro {
	@include quote-section-defaults;
	.procon-hd {
		color:darken($purple,20%);
	}
	.procon-blurb {
		color:$dark-purple;
	}
	.quote {
		color:$dark-purple;
		@include linear-gradient("to left", transparentize($purple,.95), transparentize($purple,.85));
		&:before,
		&:after {
			color: transparentize($purple,.5);
		}
	}
		.play-video {
			color:$purple;
		a {
			color:$purple;

		}

	}
}
@mixin section-con {
	@include quote-section-defaults;
	.procon-hd {
		color:$dark-blue;
	}
	.procon-blurb {
		color:$dark-blue;
	}
	.quote {
		color:$dark-blue;
		@include linear-gradient("to left", transparentize($blue,.95), transparentize($blue,.85));
		&:before,
		&:after {
			color: transparentize($blue,.5);
		}
	}
	.play-video {
			color:$dark-blue;
		a {
			color:$dark-blue;
		}
	}
}
