@mixin chart-legend {
	@include font-legend;
	list-style-type:none;
	margin: 1.5rem 0;
	padding:0;
	li {
		margin-top:1rem;
		margin-bottom:1rem;
		position:relative;
		padding-left:34px;
		padding-top:0;
		padding-bottom:0;
		&:before {
			content:'';
			position:absolute;
			top:2px;
			height:24px;
			left:0;
			width:24px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
		}
	}
	.legend-purple {
		&:before {
			background-color:$purple;
		}
	}
	.legend-gray {
		&:before {
			background-color:#ccc;
		}
	}
}
@mixin procon-hd {
	@include font-lato;
	font-weight:bold;
	font-size:1.4rem;
	margin-bottom:.25rem;
}
@mixin procon-blurb {
	font-style:italic;
	@include font-lato;
	@include lineheight-hd;
	font-size:1.2rem;
	margin-top:1rem;
	margin-bottom:1rem;

	.section-pro & {
		color:darken($purple,20%);
	}
	.section-con & {
		color:darken($blue,20%);
	}
}
@mixin quote {
	margin-left:.2rem;
	margin-top:1.5rem;
	margin-right:.2rem;
	padding-right:.8rem;
	margin-bottom:1rem; 
	font-style:normal;
	padding-left:.8rem;
	padding-top:.5rem;
	padding-bottom:.5rem;
	font-size:1rem;
	font-weight:500;
	position:relative;
	box-shadow:0 0 2rem #fff inset;
	&:before {
		font-weight:700;
		content:'\201C';
		position:absolute;
		font-size:3.5rem;
		top:-1.3rem;
		left:-.6rem;
	}
	&:after {
		font-weight:700;
		content:'\201D';
		position:absolute;
		font-size:3.5rem;
		bottom:-2.2rem;
		right:-.4rem;;
	}
}
@mixin quote-section-defaults {
	img {
		display:block;
		margin:auto;
	}
	
	.procon-hd {
		@include procon-hd;
	}
	.procon-blurb {
		@include procon-blurb;
	}
	
	.quote {
		@include quote;
	}
	.play-video {
		@include font-roboto;
		&:before {
			content:'\f144';
			display:inline-block;
			font-family:FontAwesome;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		
	}
}
@mixin section-pro {
	@include quote-section-defaults;
	.procon-hd {
		color:darken($purple,20%);
	}
	.procon-blurb {
		color:$dark-purple;
	}
	.quote {
		color:$dark-purple;
		@include linear-gradient("to left", transparentize($purple,.95), transparentize($purple,.85));
		&:before,
		&:after {
			color: transparentize($purple,.5);
		}
	}
		.play-video {
			color:$purple;
		a {
			color:$purple;

		}

	}
}
@mixin section-con {
	@include quote-section-defaults;
	.procon-hd {
		color:$dark-blue;
	}
	.procon-blurb {
		color:$dark-blue;
	}
	.quote {
		color:$dark-blue;
		@include linear-gradient("to left", transparentize($blue,.95), transparentize($blue,.85));
		&:before,
		&:after {
			color: transparentize($blue,.5);
		}
	}
	.play-video {
			color:$dark-blue;
		a {
			color:$dark-blue;
		}
	}
}

