
#dialog-message {
	position:fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: RGBA(0,0,0,.5);
	.panel {
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width:350px;
		height:185px;
		background: white;
		-webkit-border-radius: .15rem;
		-moz-border-radius: .15rem;
		border-radius: .15rem;
		p {
			color: darken($purple, 30%);
		}
	}
	.modal-close{
		position:absolute;
  	top:.6rem;
  	right:.5rem;
		padding: 5px;
		cursor: pointer;
	}
}
#dialog-message .panel {
	width:100%;
	height:auto;
		max-width:600px;
		display:table;

		h3 {
			margin-top:1rem;
		}

	.button-consider {
		margin-top:.5rem;
		margin-bottom:2rem;
		margin-left:1rem;
	}

	@media (min-width:$breakpoint) {
		max-width:700px;
		

	}


}
