// functional
$breakpoint: 600px;
$breakpoint-qnav: 360px;
$bodywidth-main:39rem;
$bodywidth-wide:69rem;
$bodymargin:1rem;


// colors
$purple:hsla(280, 40%, 50%, 1);
$dark-purple:darken($purple,10%);
$blue: hsla(200, 90%, 50%, 1);
$dark-blue:darken($blue,15%);

// color assignments
$link-color: darken($blue,10%);





