strong {
//	background:transparentize(orange,.8);
//	-webkit-border-radius: 2px;
//	-moz-border-radius: 2px;
//	border-radius: 2px;	
//	padding-left:.2rem;
//	padding-right:.2rem;
	// box-shadow:.1rem 0 1em transparentize(orange,.9) inset, 0 .1rem  .1rem transparentize(orange,.6) ;
	font-weight:inherit;
}

.chart-section {
	margin-left:.5rem;
	margin-right:.5rem;
	background:#fafafa;
	border:.1rem  rgba(0, 0, 0, 0.2)   solid;
	margin-top:1.5rem;
	margin-bottom:1.5rem;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	img {
		display:block;
		width:100%;
		margin:auto;
	}
	ul {
		list-style-type:none;
		margin:0;
		padding:0;
		display:table;
		width:100%;
		margin:auto;
	}
	li {
		padding:.8rem 2.5rem .8rem 2.5rem;
		border-top:.08rem solid #eee;
		background:#fff;
		&:first-child {
			border-top:none;
		}
		@media (min-width:600px) {
			padding-bottom:0;
			display:table-cell;
			border-right:.08rem solid #ddd;
			border-top:none;
			&:last-child {
				border:none;
			}
		}
	}
	.bg {display:none;}
	.sm {display:none;}
	@media (max-width:600px) {
		.sm { display:block; 
			max-width:200px;
		}
	}
	@media (min-width:600px) {
		.bg {
			display:block;
			max-width:180px;
		}
	}
}
.chart-h2 {
	b {
		font-weight:500;
	}
	font-weight:500;
	font-size:1.1rem;
	text-align:center;
	border-bottom:.08rem solid rgba(0, 0, 0, 0.2)   ;
	padding:.7rem 0;
	padding-left:.5rem;
	padding-right:.5rem;
	font-family:'Roboto Condensed';
	line-height:125%;
	margin:0;
}
.charts-combined {
	margin-top:1.5rem;
	margin-bottom:1.5rem;
	.chart-section {
		margin-bottom:0;
		border-bottom:0;
		margin-top:0;
		border-top:.08rem solid rgba(0, 0, 0, 0.2)   ;
		&:first-of-type {
			border-top:.1rem solid rgba(0, 0, 0, 0.2)   ;
		}
		&:last-of-type {
			border-bottom:.1rem solid rgba(0, 0, 0, 0.2)   ;
		}
		&:nth-of-type(2) {
			-webkit-border-bottom: 0;
			-moz-border-radius-top: 0;
			border-radius-top: 0;
			
		}
		&:nth-of-type(3) {
			-webkit-border-top-right-radius: 0;
			-webkit-border-top-left-radius: 0;
			-moz-border-radius-topright: 0;
			-moz-border-radius-topleft: 0;
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
	}
	.chart-h2 {
	}
}
.chart-segment {
	display:inline-block;
}
.chart-h2+p {
	margin-top:.5rem;
	margin-bottom:1.5rem;
}
