$bodywidth-wide:69rem;
.chart-section {
	background:#fafafa;
	border:1px  rgba(0, 0, 0, 0.2)   solid;
	margin-top:1.5rem;
	margin-bottom:1.5rem;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	img {
		display:block;
		width:100%;
		margin:auto;
	}
	ul {
		list-style-type:none;
		margin:0;
		padding:0;
		display:table;
		width:100%;
		margin:auto;
	}
	li {
		padding:.8rem 2.5rem .8rem 2.5rem;
		border-top:1px solid #eee;
		background:#fff;
		&:first-child {
			border-top:none;
		}
		@media (min-width:600px) {
			padding-bottom:0;
			display:table-cell;
			border-right:1px solid #ddd;
			border-top:none;
			&:last-child {
				border:none;
			}
		}
	}
	.bg {display:none;}
	.sm {display:none;}
	@media (max-width:600px) {
		.sm { display:block; 
			max-width:200px;
		}
	}
	@media (min-width:600px) {
		.bg {
			display:block;
			max-width:180px;
		}
	}
}
.chart-h2 {
	b {
		font-weight:500;
	}
	font-weight:500;
	font-size:1.1rem;
	text-align:center;
	border-bottom:1px solid rgba(0, 0, 0, 0.2)   ;
	padding:.7rem 0;
	padding-left:.5rem;
	padding-right:.5rem;
	font-family:'Roboto Condensed';
	line-height:125%;
	margin:0;
}
.charts-combined {
	margin-top:1.5rem;
	margin-bottom:1.5rem;
	.chart-section {
		margin-bottom:0;
		border-bottom:0;
		margin-top:0;
		border-top:1px solid rgba(0, 0, 0, 0.2)   ;
		&:first-of-type {
			border-top:1px solid rgba(0, 0, 0, 0.2)   ;
		}
		&:last-of-type {
			border-bottom:1px solid rgba(0, 0, 0, 0.2)   ;
		}
		&:nth-of-type(2) {
			-webkit-border-bottom: 0;
			-moz-border-radius-top: 0;
			border-radius-top: 0;
		}
		&:nth-of-type(3) {
			-webkit-border-top-right-radius: 0;
			-webkit-border-top-left-radius: 0;
			-moz-border-radius-topright: 0;
			-moz-border-radius-topleft: 0;
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
	}
	.chart-h2 {
	}
}
.chart-segment {
	display:inline-block;
}
.chart-h2+p {
	margin-top:.5rem;
	margin-bottom:1.5rem;
}
.chart-risk {
	padding-left:4rem;
	padding-right:0;
	@media (min-width:1044px) {
		padding-left:1rem;
		padding-right:1rem;
	}
	.column {
		margin:auto;
		max-width:350px;
		@media (min-width:1044px) {
			max-width:$bodywidth-wide;
		}
	}
	ul {
		width:100%;
		display:table;
		list-style-type:none;
		margin:0;
		padding:0;
		margin-top:2rem;
		@media (min-width:1044px) {
			margin-bottom:2rem;
		}
	}
	li {
		padding-right:2rem;
		margin-bottom:1rem;
		@media (min-width:1044px) {
			display:table-cell;
			padding-left:60px;
			width:33%;
		}
	}
	table {
		width:100%;
		position:relative;
		border-collapse: separate;
		border-spacing:3px;
		&:before {
			content:'0%—';
			position:absolute;
			width:70px;
			text-align:right;
			left:-66px;
			bottom:43px;
			@media (min-width:$breakpoint) {
				bottom:45px;
			}
		}
		&:after {
			content:'';
			position:absolute;
			height:1px;
			width:100%;
			border-top: 2px solid rgba(100, 100, 100, 0.05) ;
			top:159px;
			@media (min-width:$breakpoint) {
				top:163px;
			}
		}
	}
	td {
		width:33%;
		position:relative;
	}
	tr.chart-head {
		td {
			vertical-align:top;
			text-align:center;
			font-weight:bold;
			font-size:1.1rem;
			line-height:1.1;
			white-space:nowrap;
			padding-bottom:.4rem;
		}
	}
	tr.chart-main {
		td {
			height:250px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			@include linear-gradient("to top", #fafafa, #eee);
			box-shadow:0 1px 6px rgba(0, 0, 0, 0.2) inset ;
		}
		td:first-child {
			position:relative;
			&:before {
				content:'100%—';
				position:absolute;
				width:70px;
				text-align:right;
				top:-13px;
				left:-70px;
			}
			&:after {
				content:'50%—';
				height:30px;
				position:absolute;
				width:70px;
				text-align:right;
				top:50%;
				margin-top:-15px;
				left:-70px;
			}
		}
	}
	tr.ages {
		td {
			text-align:center;
			line-height:1.2;
		}
		i {
			font-style:normal;
			display:block;
		}
		b {
			font-size:1.3rem;
			display:block;
		}
	}
	[class^="age-"] {
		position:absolute;
		bottom:0;
		width:99%;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		@include linear-gradient("to top", $purple, $purple);
		white-space:nowrap;
	}
	.general {
		.age-65 {
			height:1%;
			&:before {
				content:'1%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-75 {
			height:2%;
			&:before {
				content:'2%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-85 {
			height:12%;
			&:before {
				content:'10-15%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
	}
	.with-1-copy {
		.age-65 {
			height:7.5%;
			&:before {
				content:'5-10%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-75 {
			height:20%;
			&:before {
				content:'15-20%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-85 {
			height:32%;
			&:before {
				content:'25-40%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
	}
	.with-2-copies {
		.age-65 {
			height:25%;
			&:before {
				content:'20-30%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-75 {
			height:32%;
			&:before {
				content:'25-40%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-85 {
			height:47%;
			&:before {
				content:'40-55%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
	}
}
.chart-family {
	padding-left:4rem;
	padding-right:0;
	@media (min-width:1044px) {
		padding-left:1rem;
		padding-right:1rem;
	}
	.column {
		margin:auto;
		max-width:350px;
		@media (min-width:1044px) {
			margin:auto;
			max-width:830px;
		}
	}
	ul {
		width:100%;
		display:table;
		list-style-type:none;
		margin:0;
		padding:0;
		margin-top:2rem;
		@media (min-width:1044px) {
			margin-bottom:2rem;
		}
	}
	li {
		padding-right:2rem;
		margin-bottom:1rem;
		@media (min-width:1044px) {
			display:table-cell;
			padding-left:60px;
			width:50%;
		}
	}
	table {
		width:100%;
		position:relative;
		border-collapse:separate;
		border-spacing:3px;
		&:before {
			content:'0%—';
			position:absolute;
			width:70px;
			text-align:right;
			left:-66px;
			bottom:43px;
			@media (min-width:$breakpoint) {
				bottom:45px;
			}
		}
		&:after {
			content:'';
			position:absolute;
			height:1px;
			width:100%;
			border-top: 2px solid rgba(100, 100, 100, 0.05) ;
			top:181px;
			@media (min-width:$breakpoint) {
				top:186px;
			}
		}
	}
	td {
		width:50%;
		position:relative;
	}
	tr.chart-head {
		td {
			vertical-align:bottom;
			height:3rem;
			text-align:center;
			font-weight:bold;
			font-size:1.1rem;
			line-height:1.1;
			padding-bottom:.4rem;
		}
	}
	tr.chart-main {
		td {
			height:250px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			@include linear-gradient("to top", #fafafa, #eee);
			box-shadow:0 1px 6px rgba(0, 0, 0, 0.2) inset ;
		}
		td:first-child {
			position:relative;
			&:before {
				content:'100%—';
				position:absolute;
				width:70px;
				text-align:right;
				top:-13px;
				left:-70px;
			}
			&:after {
				content:'50%—';
				height:30px;
				position:absolute;
				width:70px;
				text-align:right;
				top:50%;
				margin-top:-15px;
				left:-70px;
			}
		}
	}
	tr.ages {
		td {
			text-align:center;
			line-height:1.2;
		}
		i {
			font-style:normal;
			display:block;
		}
		b {
			font-size:1.3rem;
			display:block;
		}
	}
	[class^="age-"] {
		position:absolute;
		bottom:0;
		width:99%;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		@include linear-gradient("to top", $purple, $purple);
		white-space:nowrap;
	}
	.general {
		.age-70 {
			height:1%;
			&:before {
				content:'1%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-85 {
			height:12%;
			&:before {
				content:'10-15%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
	}
	.with-1-copy {
		.age-70 {
			height:2%;
			&:before {
				content:'2%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-85 {
			height:25%;
			&:before {
				content:'25%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
	}
	.with-2-copies {
		.age-65 {
			height:25%;
			&:before {
				content:'20-30%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-75 {
			height:32%;
			&:before {
				content:'25-40%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
		.age-85 {
			height:47%;
			&:before {
				content:'40-55%';
				font-weight:bold;
				font-size:1.3rem;
				color:$purple;
				position:absolute;
				width:100%;
				text-align:center;
				top:-35px;
			}
		}
	}
}
.legend {
	list-style-type:none;
	margin:0;
	padding:0;
	li {
		margin-top:1rem;
		margin-bottom:1rem;
		position:relative;
		padding-left:30px;
		padding-top:0;
		padding-bottom:0;
		&:before {
			content:'';
			position:absolute;
			top:0;
			height:100%;
			left:0;
			width:20px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
		}
	}
	.legend-purple {
		&:before {
			background-color:$purple;
		}
	}
	.legend-gray {
		&:before {
			background-color:#ccc;
		}
	}
}
