*, *:before, *:after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	padding:0;
	height:100%;
	margin:0;
	@media (min-width:$breakpoint) {
		font-size:18px;
	}
		@media (max-width:374px) {
			font-size:4.5vw;
		}
	
}
body {
	padding:0; 
	margin:0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	@include lato;
	color: rgba(0, 0, 0, 0.75) ;
	line-height:1.6;
	display: flex;
	flex-direction: column;
	.mobile-nav	& {
		display:block;
	}
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
		display:block;
	}
	min-height: 100vh;
}
.segment {
	display:inline-block;
}
a {
	font-weight: $link-weight;
	color: $link-color;
	text-decoration:none;
	&:hover {
		text-decoration:underline;
	}
}
p.sans {
	@include lato;
}
h1, h2, h3, h4, h5, h6 {
	color: rgba(0, 0, 0, 0.75)  ;
	@include lato;
	line-height:$line-height-sm;
	font-weight:600;
}
h2 {
	margin-top:3rem;
	&:before {
		margin-top:-1.5rem;
		@include elegant;
	}
}
h1 {
	font-size:1.7rem;
	line-height:1.3;
	line-height:$line-height-sm;
	color:darken($purple,20%);
}
.column > h1:first-child {
	margin-top:2rem;
}
h3 {
	margin-top:2rem;
	margin-bottom:1rem; 
	font-style:italic;
	font-size:1.2rem;
	color:darken($purple,10%);
	font-weight:600;
}
h4 {
	font-weight:600;
	font-style:italic;
}
.main-content {
	padding-bottom:4rem;
	flex:1;
	/*
	p {
	@include ptserif;
	}
	 */
	.mobile-nav &  {
		display:block;
	}
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
		display:block;
	}
}
//-- common
.panel {
	background: transparentize($purple,.83)   ;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;
	font-weight:400;
	margin-bottom:2rem;
	ul {
		font-weight:600;
		margin-left:0;
		list-style-type:none;
		padding-left:.5rem;
		li {
			&:before {
				content:'\25A0';
				font-family:arial,sans-serif;
				font-size:.8rem;
				float:left;
				margin-left:-1rem;
				color:lighten($purple,10%);
				margin-top:.2rem;
			}
			color:darken($purple,20%);
			margin-left:0;
			padding-left:.2rem;
			padding-bottom:1rem;
			&:last-of-type {
				padding-bottom:0;
			}
		}
	}
	table {
		td {
			vertical-align:top;
			padding:.2rem;
		}
	}
	.panel-header {
		background: transparentize($purple,.73)   ;
		color:darken($purple,20%);
		font-family: 'Roboto Condensed';
		text-align:center;
		line-height:1.2;
		-webkit-border-top-left-radius: .2rem;
		-webkit-border-top-right-radius: .2rem;
		-moz-border-radius-topleft: .2rem;
		-moz-border-radius-topright: .2rem;
		border-top-left-radius: .2rem;
		border-top-right-radius: .2rem;
		font-weight:500;
		font-size:1.3rem;
		padding-top:.7rem;
		padding-bottom:.7rem;
		border-bottom:.1rem solid transparentize($purple,.8);
	}
	.panel-body {
		padding-left:1rem;
		padding-right:1rem;
		padding-bottom:.5rem;
		p {
			&:last-of-type {
				margin-bottom:0;
			}
		}
	}
	&:first-child {
		margin-top:2rem;
	}
}
hr {
	margin-top:2rem;
	margin-bottom:2rem;
	border: 0;
	height:1px;
	background:transparent;
	&:after {
		content:'';
		position:absolute;
		width:100%;
		left:0;
		height: 1px;
			@include linear-gradient("to right", rgba(0, 0, 0, 0), transparentize(#000,.8), rgba(0, 0, 0, 0));

	}
}
dl {
	padding-left:1rem;
	padding-right:1rem;
	dt {
		padding-bottom:.5rem;
		font-family:'Roboto Condensed';
		font-size:1.3rem;
		color:darken($purple,10%);
		font-weight:400;
	}
	dd {
		font-size:1.05rem;
		font-weight:400;
		color: rgba(0, 0, 0, 0.6)  ;
		font-family:'Roboto Condensed';
		line-height:1.3;
		margin-left:0;
		padding-left:1rem;
		margin-bottom:2rem;
		a {
			font-weight:400;
		}
	}
}
strong {
	font-weight:inherit;
}
//-- common
.caption {
	font-family: 'Roboto';
	font-size:.92rem;
	line-height:1.4;
	margin-top:1rem;
	margin-left:1rem;
	margin-right:1rem;
	margin-bottom:1rem;
	font-weight:400;
	display:block;
	color: rgba(0, 0, 0, 0.5) ;
	&:before {
		content:'*';
		float:left;
		margin-left:-.62rem;
	}
}
//-- misc
.bookname {
	font-style:italic;
}
.row {
	padding-left:$bodymargin;
	padding-right:$bodymargin;
	.column {
		margin:auto;
		max-width:$bodywidth-main;
	}
}
.further-resources-link {
	line-height:1.2;
	@include lato;
	a {
		font-weight:400;
		
		&:after {
			@include fa;
			padding-left:5px;
			display:inline-block;
			font-size:18px;
			content:'\f105';
		}
	}
}
