.trigger {
	position:absolute;
	right:0;
	top:0;
	@media (max-width:$small) {
	.mobile-nav & {
		width:100%;
	}
}
	cursor:pointer;
	@media (min-width:$small) {
		display:none;
	}
	color:#fff;
	//	background: rgba(0, 0, 0, .15)   ;
	span {
		float:right;
		display:block;
		font-size:1.4rem;
		padding:.5rem 1.2rem;
		text-align:center;
		&:before {
			padding-right:.6rem;
			display:inline-block;
			content:'\f0c9';
			font-family:FontAwesome;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		&:after {
			content:'Menu';
			text-transform:uppercase;
			font-family:'Roboto';
			font-weight:400;
		}
	}
}

.mobile-nav {
	@media (max-width:$small) {
	
	.nav-container {

		background:linear-gradient(hsla(200, 90%, 50%, .95),  hsla(280, 40%, 50%, .9));
		position:absolute;
		width:100%;
		min-height:80vh;
		z-index:100;
		padding-top:3.7rem;
		box-shadow:0 .1rem .8rem rgba(0, 0, 0, 0.5) ;
	}
}
	

	.show-only-on-mobile {
		display:block;
	}
	.menu-title {
		display:table;
		position:absolute;
		top:0;
		width:100%;
		opacity:.6;
		letter-spacing:.06rem;
		padding:1rem 0;
		font-family:'roboto';
		font-weight:500;
		text-transform:uppercase;
		text-align:center;
	}
	.trigger {
		background:none;
		span {
			&:before {
				content:'\f057';
				font-size:1.8rem;
				margin-top:-.2rem;
				margin-right:-.2rem;
			}
			&:after {
				content:'';
			}
		}
	}
	ul {
		float:none;
		display:block;
	}
	li {
		padding:0;
		margin:0;
		float:none;
		&:last-child {
			padding-right:inherit;
		}
		a {
			font-size:1.3rem;
			padding:.8rem 1.3rem;
			margin:0;
		}
		&.is-active {
			a {
				margin:0;
			}
		}
	}
	a {
		border-top:.1rem solid rgba(255, 255, 255, 0.2);
	}
}
