.header {
	.show-only-on-mobile {
		display:none;
	}
	.trigger .menu-title {
		display:none;
	}
}
.header {
	background:linear-gradient(hsla(200, 90%, 50%, .95), hsla(280, 40%, 50%, .9));
	background-size:cover;
	position:relative;
	.header-body {
		border-top:.08rem solid rgba(255, 255, 255, 0.2);
		background: rgba(0, 0, 0, 0.1) ;
	}
	nav {
		width:100%;
	}
	ul {
		list-style-type:none;
		margin:0;
		padding:0;
		@include clearfix;
		display:none;
	}
	li {
		padding:0;
		margin:0;
		float:left;
	}
	li a {
		color:#fff;
		display:block;
		@include roboto;
	}
	li.is-active {
		a {
			background: rgba(0, 0, 0, 0.2) ;
			margin-left:.4rem;
			margin-right:.4rem;
		}
	}
	.logo {
		display:table;
		padding-top:0;
		padding-bottom:1.5rem;
		@media (min-width:$breakpoint) {
		padding-top:1.5rem;
		padding-bottom:1.5rem;
	}
	}
	.logo a {
		background: url('logo_white.png') 0 0 no-repeat;
		background-size:contain;
		display:block;
		height:6rem;
		width:16em;
		position:relative;
		z-index:4;
	}
}
.header {

	.column {
	position:relative;
	}
	ul {

		display:table;
		margin:auto;
		@media (min-width:$breakpoint) {
		position:absolute;

		right:0;
	}
	}
	li {
		margin-left:1rem;
		margin-right:1rem;
		@media (min-width:$breakpoint) {
			margin-right:0;
		margin-left:2rem;
	}
	}
	li a {
		padding:.4rem 0 .6rem 0;
		position:relative;
		&:hover {
			text-decoration:none;
			&:before {
				content:'';
				background: rgba(0, 0, 0, 0.1);
				height:100%;
				width:100%;
				position:absolute;
				left:0;
				top:0;
				box-shadow:-10px 0 0 rgba(0, 0, 0, 0.1), 10px 0 0 rgba(0, 0, 0, 0.1) ;
			}
			&:after {
				content:'';
				height:4px;
				background:#fff;
				position:absolute;
				width:100%;
				bottom:0;
				left:0;
			}
		}
	}
	.logo {
		margin:0 auto;
		width:100%;
		max-width:$bodywidth-main;
	}
	.logo a {
		height:6.2rem;
		width:17em;
	}
}
