.homepage {
	//	background:linear-gradient(hsla(200, 90%, 50%, .95),  hsla(280, 40%, 50%, .9)) ;
		flex: 1;
	nav {
		background:none;
		// background-image: linear-gradient(to right, $purple,  $blue);
	}
	.header {
		background:none;
		// url(https://unsplash.it/1400/401) center center no-repeat
	}
	.main-body {
		padding-top:0;
		padding-bottom:3rem;
		@media (min-width:$small) {
			padding-top:3rem;
		}
		flex: auto;
		//		color:#fff;
		p {
			@media (min-width:$small) {
				padding-left:3rem;
			}
			font-weight:400;
			line-height:1.4rem;
		}
	}
	h3 {
		//		color:#fff;
		font-size:1.2rem;
		@media (min-width:$small) {
			font-size:1.7rem;
		}
		margin-top:1rem;
		@media (min-width:$small) {
			padding-left:3rem;
		}
	}
	footer {
		border-top-color:rgba(255, 255, 255, 0.2) ;
		background:none;
		color:#fff;
		a {
			color:#fff;
		}
		p {
			color:#fff;
		}
	}
	.button-consider {
		padding-left:1rem;
		padding-right:1rem;
		padding-top:.5rem;
		@media (min-width:$small) {
			padding-top:1rem;
			padding-top:0;
		}
	}
	.button-consider a {
		margin:auto;
		font-family: 'Roboto';
		font-size: 1.2rem;
		font-weight: 600;
		display: inline-block;
		margin: 0;
		width:100%;
		@media (min-width:$small) {
			width:auto;
			margin-left:3rem;
		}
		padding: .5rem 1.5rem;
		color:$purple;
		box-shadow: 1px 0 0 $purple inset, -1px 0 0 $purple inset, 0 1px $purple inset, 0 -1px $purple inset, 0 .3rem .8rem $purple ;
		border:none;
		//		border:2px solid $blue;
		-webkit-border-radius: .15rem;
		-moz-border-radius: .15rem;
		border-radius: .15rem;
		background-color: #fff;
		&:after {
			content:'\f105';
			padding-left:.5rem;
			font-family:FontAwesome;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		&:hover {
			box-shadow: 1px 0 0 $blue inset, -1px 0 0 $blue inset, 0 1px $blue inset, 0 -1px $blue inset, 0 .3rem .8rem $blue ;
			color: $blue;
			-webkit-transition: all .2s;
			transition: all .2s;
			text-decoration:none;
		}
		&:active {
		}
	}


	h3 {
		font-style:normal;
	}
	
}