.qnav {
	background: #fafafa;
	border-bottom:2px solid rgba(0, 0, 0, 0.1);
	font-weight:400;
	&-container {
		display:table;
	}
	&-content {
		height: 60px;
		font-family:'Roboto';
		font-weight: 500;
		color: darken($purple, 20%);
	}
	&-hd {
		float: left;
		margin-top: 16px;
	}
	&-pg {
		float: right;
	}

	.progress{
		height: 25px; 
	  width: 75px;
	  float: left; /*Here you can also use display: inline-block instead of float:left*/
		-webkit-border-radius: .2rem;
		-moz-border-radius: .2rem;
		border-radius: .2rem;
		color:#fff;
		font-size:1.1rem;
		line-height: 1.35rem;
		margin-left:1rem;
		font-family:'Roboto';
		font-weight: 500;
		box-shadow:0 .2rem .2rem rgba(0, 0, 0, 0.2);
		text-align: center;
  	background-color: lighten($purple,20%);
  	border: 1px solid darken($purple, 20%);

	  &-current {
	  background-color: $purple; 
	  }

	}

}

@media (max-width: 473px) {
	.qnav-content {
		height:100px;
	}
}
// =================
.instructions {
	text-align:center;
	margin-bottom:2rem;
	margin-top:2.2rem;
	position:relative;
	color:  darken($blue,10%);
	padding:1rem .5rem 1rem .5rem;
	@media (min-width:$breakpoint) {
		padding:1rem .6rem 1rem .6rem;
	}
	background: transparentize($blue,.9);
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;
	border:.1rem solid transparentize($blue,.7);
	&:before {
		content:'IMPORTANT';
		background:$blue;
		color:#fff;
		width:7rem;
		position:absolute;
		font-weight:600;
		left:50%;
		margin-left:-3.5rem;
		top:-.7rem;
		text-align:center;
		-webkit-border-radius: .2rem;
		-moz-border-radius: .2rem;
		border-radius: .2rem;
	}
	a {
		color:  darken($blue,10%);
		font-weight:inherit;
		padding-bottom:1px;
		border-bottom:1px dashed $blue;
		&:hover {
			text-decoration:none;
		}
	}
}
.question {
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;
	font-weight:400;
	color:darken($blue,20%);
	.question-header {
		color:#fff;
		background:$blue;
		@include roboto;
		font-weight:500;
		text-align:center;
		line-height:1.2;
		-webkit-border-top-left-radius: .2rem;
		-webkit-border-top-right-radius: .2rem;
		-moz-border-radius-topleft: .2rem;
		-moz-border-radius-topright: .2rem;
		border-top-left-radius: .2rem;
		border-top-right-radius: .2rem;
		font-size:1.3rem;
		padding-top:.7rem;
		padding-bottom:.7rem;
	}
	.question-body {
		background:transparentize($blue,.88);
		border-bottom:.1rem solid transparentize($blue,.7);
		border-left:.1rem solid transparentize($blue,.7);
		border-right:.1rem solid transparentize($blue,.7);
		-webkit-border-bottom-right-radius: 2px;
		-webkit-border-bottom-left-radius: 2px;
		-moz-border-radius-bottomright: 2px;
		-moz-border-radius-bottomleft: 2px;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
		h1 {
			font-style:italic;
			font-size:1.3rem;
			padding-top:1rem;
			margin-left:1rem;
			margin-right:1rem;
			margin-top:0;
			color:darken($blue,20%);
		}
		p {
			&:last-of-type {
				margin-bottom:0;
			}
		}
	}
	// dark circle         f111
	// circle o thin       f1db
	// circle o regular    f10c
	// check circle        f058
	form {
		label {
			@include lato;
			display:block;
			line-height:1.2;
			cursor:pointer;
			margin-left:.5rem;
			margin-right:.5rem;
			margin-bottom:1px;
			&:hover {
				@media (min-width:$breakpoint) {
					background:transparentize($blue,.8);
				}
			}
		}
		span {
			display:block;
			padding-left:2.7rem;
			padding-right:1rem;
			padding-top:.8rem;
			padding-bottom:.8rem;
			position:relative;
			&:before, &:after {
				position:absolute;
				top:10px;
				left:.7rem;
				font-size:1.5rem;
				@include fa;
			}
			&:before {
				content:'\f111';
				color:#fff;
			}
			&:after {
				content:'\f1db';
				color:$blue;
			}
		}
		input[type=radio] {
			position:absolute;
			visibility:hidden;
		}
		input[type=radio]:checked + span{
			background:transparentize($blue,.8);
			font-weight:600;
			&:before {
				display:none;
			}
			&:after {
				content:'\f058';
			}
		}
		.button-area {
			@include clearfix;
			margin-top:.4rem;
			border-top:.1rem solid transparentize($blue,.8);
			padding-top:.8rem;
			//			background:transparentize($blue,.88);
			padding-bottom:1rem;
		}
		button,
		input[type="submit"]
		{
			float:right; 
			font-weight:600;
			padding:.4rem;
			min-width:7rem;
			color: #fff;
			display:block;
			margin-right:1rem;
			background-color: $blue;
			border: none;
			box-shadow: 0 .05rem 0 darken($blue,10%);
			-webkit-border-radius: .15rem;
			-moz-border-radius: .15rem;
			border-radius: .15rem;
			&:after {
				content:'\f105';
				padding-left:.5rem;
				font-family:FontAwesome;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
		button:hover, button.hover {
			background-color: darken($blue,10%);
		}
		button:active, button.active {
			background-color: darken($blue,10%);
			box-shadow: 0 .2rem darken($blue,20%);
		}
	}
}


