// .column {
// 	height: 150px;
// 	border: 1px solid black;
// }

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

footer {
	background: linear-gradient(rgba(145, 77, 179, 0.9), rgba(13, 166, 242, 0.95)); 
	color: #D3CFD3;
	margin:auto;
	width: 100%;
	padding:40px 10px 100px 10px;
	a {
		text-decoration:none;
		color:white;
		opacity:.7;
		&:hover {
			color:white;
			opacity:1;
			text-decoration:none;
		}

	}
	.footer-content {
		max-width:1000px;
		margin: 0 auto;
		li {
			font-size:18px;
		}
	}
	hr {
		margin: 0;
		margin-bottom: 0;
		border-color: RGBA(123, 147, 164, 0.5);
	}
}
.footer-section-head {
	text-transform:uppercase;
	padding-left:5px;
	padding-top:4px;
	padding-bottom:4px;
	font-weight:400;
}
.footer-section-link {
	font-weight:200;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:5px;

}
#go-to-top {
	margin-top: 0;
	clear: both;
	&:hover {
		background: RGBA(123, 147, 164, 0.5);
	}
}
footer .copyright {
		float:right;
		font-size:16px;
		font-weight:200;
	}
.footer-section-head {
	border-bottom:4px solid rgba(255, 255, 255, 0.1);
	background:rgba(255, 255, 255, 0.05);
}