// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 1/4, // The size of a gutter in relation to a single column
);

nav {
  background: cyan;

  .brand-logo {
    float: left;
    display: inline-block;

    .logo {
      height: 100px;
      width: 100px;
      background: blue;
      display: inline-block;
    }

    .logo-text {
      display: inline-block;
      margin: 2em;
    }

    p {
      line-height: 0.2em;
    }
  }

  ul {
    float: right;
    display: inline-block;

    li {
      display: inline-block;
    }
  }
}