// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 1/4, // The size of a gutter in relation to a single column
);

nav {

  height: 80px;

  .logo {
    float: left;
    height: 80px;
    width: 100px;
    background: purple;
    color: orange;
    display: inline-block;
  }

  .logo-text {
    float: left;
    display: inline-block;
    margin: 1em;

    &-one {
      color: purple;
    }
    &-two {
      color: orange;
    }
  }

  p {
    line-height: 0.2em;
  }

  ul {
    float: right;
    display: inline-block;

    li {
      margin: 1em;
      display: inline-block;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}