@import url(https://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);
@import "normalize"; 
@import "mixins";
@import "chart01";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.purple {
	color:darken($purple,10%);
}
.segment {
	display:inline-block;
}
.bookname {
	font-style:italic;
}
a {
	font-weight:600;
	color:darken($blue, 10%);
	text-decoration:none;
	&:hover {
		text-decoration:underline;
	}
}
p {
	margin-left:$bodypadding;
	margin-right:$bodypadding;
}
html{
	padding:0;
	margin:0;
	font-size:18px;
	@media (min-width:$small) {
		font-size:18px;
	}
	@media (min-width:$large) {
		font-size:20px;
	}
	//		-webkit-transition: font-size .5s;
	//		transition: font-size .5s;
}
body {
	padding:0; 
	margin:0;
	font-family: 'PT Serif';
	text-rendering: optimizeLegibility;
	font-weight:100;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	line-height:1.6;
	letter-spacing: -0.01em;
	color: rgba(0,0,0,0.8);	
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.header,
.menu-is-visible
{
	background:linear-gradient(hsla(200, 90%, 50%, .95),  hsla(280, 40%, 50%, .9)),  url(https://images.unsplash.com/photo-1429032021766-c6a53949594f?q=80&fm=jpg&s=e86a69acddf29299852f1e99baf38918) center center no-repeat;
}
.header {
	padding-top:3.2rem;
	background-size:cover;
	position:relative;
}
nav {
	width:100%;
	position:absolute;
	right:0;
	top:0;
	font-family: 'Roboto Condensed';
	font-weight:400;
	font-size:1rem;
	float:right;
	ul {
		list-style-type:none;
		margin:0;
		padding:0;
		float:right;
		@include clearfix;
		display:none;
		@media (min-width:$small) {
			display:block;
		}
	}
	li {
		padding:0;
		margin:0;
		float:left;
		padding-top:.5rem;
		padding-bottom:.5rem;
		&:last-child {
			margin-right:1rem;
			a {
				padding-right:.5rem;
			}
		}
	}
	a {
		font-weight:400;
		padding:.3rem .7rem;
		color:#fff;
		display:block;
		&:hover {
			text-decoration:none;
		}
	}
	.is-active {
		a {
			background: rgba(0, 0, 0, 0.2) ;
			margin-left:.4rem;
			margin-right:.4rem;
		}
	}
	.menu-title {
		display:none;
	}
	.menu-is-visible {
		position:absolute;
		@media (min-width:$small) {
			display:none;
		}
		width:100%;
		height:100vh;
		z-index:100;
		padding-top:3.7rem;
		box-shadow:0 .1rem .8rem rgba(0, 0, 0, 0.5) ;
		.menu-title {
			display:table;
			position:absolute;
			top:0;
			width:100%;
			opacity:.6;
			letter-spacing:.06rem;
			padding:1rem 0;
			font-family:'roboto';
			font-weight:500;
			text-transform:uppercase;
			text-align:center;
		}
		.trigger {
			background:none;
			span {
				&:before {
					content:'\f057';
					font-size:1.8rem;
					margin-top:-.2rem;
					margin-right:-.2rem;
				}
				&:after {
					content:'';
				}
			}
		}
		ul {
			float:none;
			display:block;
		}
		li {
			padding:0;
			margin:0;
			float:none;
			&:last-child {
				padding-right:inherit;
			}
			a {
				font-size:1.3rem;
				padding:.8rem 1.3rem;
				margin:0;
			}
			&.is-active {
				a {
					margin:0;
				}
			}
		}
		a {
			border-top:.1rem solid rgba(255, 255, 255, 0.2);
		}
	}
}
.header-body {
	border-top:.08rem solid rgba(255, 255, 255, 0.2)   ;
	background: rgba(0, 0, 0, 0.1) ;
}
.header-content {
	max-width:$bodywidth;
	margin:auto;
	text-align:left;
	vertical-align:bottom;
}
.main-body {
	max-width:$bodywidth;
	padding-bottom:4rem;
	margin:1rem auto;
	flex:1;
}
.header h1 {
	color:#fff;
	margin:0;
	padding-top:.5rem;
	padding-bottom:.7rem;
	padding-left:1rem;
	padding-right:1rem;
}
.logo {
	display:table;
	padding-left:$bodypadding;
	padding-right:$bodypadding;
	padding-bottom:1.4rem;
	a {
		background: url('logo_white.png') 0 0 no-repeat;
		background-size:contain;
		display:block;
		height:6rem;
		width:16em;
		position:relative;
		z-index:4;
	}
	@media (min-width:$small) {
		a {
			height:5.5rem;
			width:17em;
		}
		margin:0 auto;
		width:100%;
		max-width:48.4rem;
	}
	@media (min-width:$large) {
	}
}
.trigger {
	position:absolute;
	right:0;
	top:0;
	width:100%;
	cursor:pointer;
	@media (min-width:$small) {
		display:none;
	}
	color:#fff;
	//	background: rgba(0, 0, 0, .15)   ;
	span {
		float:right;
		display:block;
		font-size:1.4rem;
		padding:.5rem 1.2rem;
		text-align:center;
		&:before {
			padding-right:.6rem;
			display:inline-block;
			content:'\f0c9';
			font-family:FontAwesome;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		&:after {
			content:'Menu';
			text-transform:uppercase;
			font-family:'Roboto';
			font-weight:500;
		}
	}
}
footer {
	border-top:.1rem solid #ddd;
	padding:1rem;
	background:#fafafa;
	p {
		color: rgba(0,0,0,0.7);	
		font-family:'Roboto';
		margin-left:0;
		margin-right:0;
		font-size:.95rem;
		line-height:1.5;
		font-weight:400;
		a {
			color: rgba(0,0,0,0.7);	
			text-decoration:underline;
			font-weight:400;
		}
	}
	ul {
		list-style-type:none;
		padding:0;
		margin:0;
		@include clearfix;
	}
	li {
		padding:0;
		margin:0;
		font-family: 'Roboto';
		a {
			font-weight:500;
		}
		@media (min-width:$small) {
			font-family: 'Roboto Condensed';
			float:left;
			a {
				display:block;
				margin-right:1.2rem;
			}
		}		
	}
	.is-active {
		a {
			color: rgba(0, 0, 0, 0.3) ;
		}
		@media (min-width:$small) {
		}
	}
}
// &ldquo;
h1, h2, h3, h4{
	color: rgba(0, 0, 0, 0.75)  ;
	font-weight:600;
	//	color:darken($blue,20%);
	line-height:1.3;
	margin-left:$bodypadding;
	margin-right:$bodypadding;
}
h2 {
	margin-top:3rem;
	position:relative;
	&:after {
		content:'';
		position:absolute;
		top:-1.5rem;
		height:.18rem;
		left:0;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), transparentize(#000,.9), rgba(0, 0, 0, 0));
		width:100%;
	}
}
h1 {
	font-size:1.6rem;
	line-height:1.4;
	color:darken($purple,20%);
	//	font-family: 'Roboto Condensed';
}
h3 {
	margin-top:2rem;
	margin-bottom:1rem; 
	font-style:italic;
	font-size:1.2rem;
	color:darken($purple,10%);
	font-weight:600;
}
h4 {
	font-weight:600;
	font-style:italic;
}
p.quote {
	margin-left:.2rem;
	margin-top:1.5rem;
	margin-right:.2rem;
	padding-right:.8rem;
	margin-bottom:1rem; 
	font-style:normal;
	padding-left:.8rem;
	padding-top:.5rem;
	padding-bottom:.5rem;
	font-size:1rem;
	font-weight:500;
	position:relative;
	&:before {
		font-weight:700;
		content:'\201C';
		position:absolute;
		font-size:2.5rem;
		top:-1.3rem;
		left:-.4rem;;
	}
	&:after {
		font-weight:700;
		content:'\201D';
		position:absolute;
		font-size:2.5rem;
		bottom:-2.2rem;
		right:-.4rem;;
	}
}
p.quote-purple { 
	color:darken($purple,20%);
	background:linear-gradient(to left,transparentize($purple,.75), transparentize($purple,.85) ) ;
	box-shadow:0 0 2rem #fff inset;
	&:before,
	&:after {
		color: transparentize($purple,.5);
	}
}
p.quote-blue { 
	color:darken($blue,20%);
	background:linear-gradient(to left,transparentize($blue,.85), transparentize($blue,.75) ) ;
	box-shadow:0 0 2rem #fff inset;
	&:before,
	&:after {
		color: transparentize($blue,.5);
	}
}
.panel {
	background: transparentize($purple,.83)   ;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;
	font-weight:400;
	margin-bottom:2rem;
	margin-left:.5rem;
	margin-right:.5rem;
	ul {
		font-weight:600;
		margin-left:0;
		list-style-type:none;
		padding-left:.5rem;
		li {
			&:before {
				content:'\25A0';
				font-family:arial,sans-serif;
				font-size:.8rem;
				float:left;
				margin-left:-1rem;
				color:lighten($purple,10%);
				margin-top:.2rem;
			}
			color:darken($purple,20%);
			margin-left:0;
			padding-left:.2rem;
			padding-bottom:1rem;
			&:last-of-type {
				padding-bottom:0;
			}
		}
	}
	table {
		td {
			vertical-align:top;
			padding:.2rem;
		}
	}
	.panel-header {
		background: transparentize($purple,.73)   ;
		color:darken($purple,20%);
		font-family: 'Roboto Condensed';
		text-align:center;
		line-height:1.2;
		-webkit-border-top-left-radius: .2rem;
		-webkit-border-top-right-radius: .2rem;
		-moz-border-radius-topleft: .2rem;
		-moz-border-radius-topright: .2rem;
		border-top-left-radius: .2rem;
		border-top-right-radius: .2rem;
		font-weight:500;
		font-size:1.3rem;
		padding-top:.7rem;
		padding-bottom:.7rem;
		border-bottom:.1rem solid transparentize($purple,.8);
	}
	.panel-body {
		padding-left:1rem;
		padding-right:1rem;
		padding-bottom:.5rem;
		p {
			&:last-of-type {
				margin-bottom:0;
			}
		}
	}
	&:first-child {
		margin-top:2rem;
	}
}
hr {
	margin-top:2rem;
	margin-bottom:2rem;
	border: 0;
	height: .18rem;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), transparentize(#000,.9), rgba(0, 0, 0, 0));
}
.instructions {
	margin-left:.5rem;
	margin-right:.5rem;
	margin-bottom:2rem;
	margin-top:2.2rem;
	position:relative;
	font-size:.98rem;
	color:  darken($blue,10%);
	padding:1rem .5rem 1rem .5rem;
	@media (min-width:$small) {
		padding:1rem .6rem 1rem .6rem;
	}
	background: transparentize($blue,.9);
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 1.3;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;
	border:.1rem solid transparentize($blue,.7);
	&:before {
		content:'IMPORTANT';
		background:$blue;
		color:#fff;
		width:7rem;
		position:absolute;
		left:50%;
		margin-left:-3.5rem;
		top:-.7rem;
		text-align:center;
		-webkit-border-radius: .2rem;
		-moz-border-radius: .2rem;
		border-radius: .2rem;
	}
	a {
		color:  darken($blue,10%);
		font-weight:inherit;
		padding-bottom:1px;
		border-bottom:1px dashed $blue;
		&:hover {
			text-decoration:none;
		}
	}
}
.question {
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;
	font-weight:400;
	margin-left:.5rem;
	margin-right:.5rem;
	color:darken($blue,20%);
	.question-header {
		color:#fff;
		background:$blue;
		font-family: 'Roboto Condensed';
		text-align:center;
		line-height:1.2;
		-webkit-border-top-left-radius: .2rem;
		-webkit-border-top-right-radius: .2rem;
		-moz-border-radius-topleft: .2rem;
		-moz-border-radius-topright: .2rem;
		border-top-left-radius: .2rem;
		border-top-right-radius: .2rem;
		font-weight:500;
		font-size:1.3rem;
		padding-top:.7rem;
		padding-bottom:.7rem;
	}
	.question-body {
		background:transparentize($blue,.88);
		border-bottom:.1rem solid transparentize($blue,.7);
		border-left:.1rem solid transparentize($blue,.7);
		border-right:.1rem solid transparentize($blue,.7);
		-webkit-border-bottom-right-radius: 2px;
		-webkit-border-bottom-left-radius: 2px;
		-moz-border-radius-bottomright: 2px;
		-moz-border-radius-bottomleft: 2px;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
		h1 {
			font-size:1.2rem;
			padding-top:1rem;
			margin-left:.7rem;
			margin-right:.7rem;
			margin-top:0;
			color:darken($blue,20%);
		}
		p {
			&:last-of-type {
				margin-bottom:0;
			}
		}
	}
	// dark circle         f111
	// circle o thin       f1db
	// circle o regular    f10c
	// check circle        f058
	form {
		label {
			display:block;
			cursor:pointer;
		}
		span {
			display:block;
			padding-left:2.7rem;
			padding-right:1rem;
			padding-top:.4rem;
			padding-bottom:.4rem;
			position:relative;
			&:before, &:after {
				position:absolute;
				top:0;
				left:.7rem;
				font-size:1.5rem;
				font-family:FontAwesome;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
			&:before {
				content:'\f111';
				color:#fff;
			}
			&:after {
				content:'\f1db';
				color:$blue;
			}
		}
		input[type=radio] {
			position:absolute;
			visibility:hidden;
		}
		input[type=radio]:checked + span{
			background:#fff;
			color:$blue;
			font-weight:600;
			border-top:.08rem solid transparentize($blue,.8);
			border-bottom:.08rem solid transparentize($blue,.8);
			&:before {
				display:none;
			}
			&:after {
				content:'\f058';
			}
		}
		.button-area {
			@include clearfix;
			margin-top:.4rem;
			border-top:.1rem solid transparentize($blue,.8);
			padding-top:.8rem;
			//			background:transparentize($blue,.88);
			padding-bottom:1rem;
		}
		button,
		input[type="submit"]
		{
			float:right; 
			font-family:'Roboto';
			font-weight:600;
			padding:.4rem;
			min-width:7rem;
			color: #fff;
			display:block;
			margin-right:1rem;
			background-color: $blue;
			border: none;
			box-shadow: 0 .05rem 0 darken($blue,10%);
			-webkit-border-radius: .15rem;
			-moz-border-radius: .15rem;
			border-radius: .15rem;
			font-size:1.1rem;
			&:after {
				content:'\f105';
				padding-left:.5rem;
				font-family:FontAwesome;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
		button:hover, button.hover {
			background-color: darken($blue,10%);
		}
		button:active, button.active {
			background-color: darken($blue,10%);
			box-shadow: 0 .2rem darken($blue,20%);
		}
	}
}
.caption {
	font-family: 'Roboto';
	font-size:.92rem;
	line-height:1.4;
	margin-top:1rem;
	margin-left:1rem;
	margin-right:1rem;
	margin-bottom:1rem;
	font-weight:400;
	display:block;
	color: rgba(0, 0, 0, 0.5) ;
	&:before {
		content:'*';
		float:left;
		margin-left:-.62rem;
	}
}
.section-pro,
.section-con {
	padding-top:1rem;
	padding-bottom:1rem;
	h2 {
		font-family:'Roboto';
		padding-right:5.5rem;
		margin-top:1rem;
		&:after {
			display:none;
		}
	}
	h4 {
		padding-right:5.5rem;
		@media (min-width:$small) {
			padding-right:10rem;
		}
	}
	position:relative;
	img {
		max-width:12rem;
		z-index:200;
		top:0;
		right:-4rem;
		@media (min-width:$small) {
			top:0;
			max-width:12rem;
			right:0;
		}
		position:absolute;
	}
	.note {
		margin-left:.5rem;
		padding-bottom:0;
		font-family: "Roboto";
		font-weight: 400;
		padding-left:1rem;
	}
}
.pro-con-combined {
	.play-video {
		margin-top:1rem;
	}
	.section-pro,
	.section-con {
		padding-top:0;
		padding-bottom:1rem;
		img {
			top:-3rem;
		}
	}	
}
.section-pro {
	h2 {
		color:darken(desaturate($purple,10%),10%);
		margin-bottom:0;
		font-size:1.3rem;
	}
	h4 {
		margin-top:.7rem;
		color:darken($purple,10%);
	}
	.note {
		border-left:.5rem solid  transparentize($purple,.8) ;
		color:darken($purple,10%);
	}
}
.section-con {
	h2 {
		color:darken(desaturate($blue,10%),10%);
		margin-bottom:0;
		font-size:1.3rem;
	}
	h4 {
		margin-top:.7rem;
		color:darken($blue,10%);
	}
	.note {
		border-left:.5rem solid  transparentize($blue,.8) ;
		color:darken($blue,10%);
	}
}
.big-blue,
.big-purple {
	height:100px;
	width:100px;
}
.play-video {
	position:relative;
	padding:0;
	a {
		font-weight:400;
		-webkit-border-radius: .2rem;
		-moz-border-radius: .2rem;
		border-radius: .2rem;
		display:inline-block;
		background:inherit;
		color:#fff;
		font-weight:400;
		padding:0 .5rem;
		font-size:1.1rem;
		margin-left:1rem;
		font-family:'Roboto';
		box-shadow:0 .2rem .2rem rgba(0, 0, 0, 0.2) ;
		&:before {
			content:'\f144';
			font-family:FontAwesome;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		&:hover {
			opacity:.8;
			box-shadow:none;
			text-decoration:none;
		}
	}
}
.play-video {
	a {
		background-image: linear-gradient(to right, $purple,  $blue);
	}
}
.section-pro  {
	.play-video {
		a {
			background:$purple;
		}
	}
}
.section-con {
	.play-video {
		a {
			background:$blue;
		}
	}
}
dl {
	padding-left:1rem;
	padding-right:1rem;
	dt {
		padding-bottom:.5rem;
		font-family:'Roboto Condensed';
		font-size:1.3rem;
		color:darken($purple,10%);
		font-weight:400;
	}
	dd {
		font-size:1.05rem;
		font-weight:400;
		color: rgba(0, 0, 0, 0.6)  ;
		font-family:'Roboto Condensed';
		line-height:1.3;
		margin-left:0;
		padding-left:1rem;
		margin-bottom:2rem;
		a {
			font-weight:400;
		}
	}
}
/*
 *
 .big-blue {
 background:
 hsla(200, 90%, 50%, 1);
 }
 .big-purple {
 background: hsla(280, 40%, 50%, 1);
 }
 */
.further-resources {
	h2 {
		font-family:'Roboto Condensed';
		font-weight:400;
		font-size:1.4rem;
		color:darken($purple,10%);
	}
	ul {
		list-style-type:none;
		margin:0;
		padding-left:2rem;
		padding-right:1rem;
	}
	li {
		margin-bottom:1rem;
		font-family:'Roboto Condensed';
		font-size:1.05rem;
		color: rgba(0, 0, 0, 0.6) ;
		line-height:1.3;
		font-weight:400;
		a {
			font-weight:400;
		}
		&:before {
			content:'\25A0';
			font-family:arial,sans-serif;
			font-size:.8rem;
			float:left;
			margin-left:-1rem;
			color:lighten($purple,10%);
			margin-top:.2rem;
		}
		margin-left:0;
		padding-left:.2rem;
		&:last-of-type {
			padding-bottom:0;
		}
	}
}
.logo-big {
	padding-left:1rem;
	padding-right:1rem;
	img {
		width:90%;
		display:block;
		max-width:24rem;
	}
}

.homepage {
	//	background:linear-gradient(hsla(200, 90%, 50%, .95),  hsla(280, 40%, 50%, .9)) ;
		flex: 1;
	nav {
		background:none;
		// background-image: linear-gradient(to right, $purple,  $blue);
	}
	.header {
		background:none;
		// url(https://unsplash.it/1400/401) center center no-repeat
	}
	.main-body {
		padding-top:0;
		padding-bottom:3rem;
		@media (min-width:$small) {
			padding-top:3rem;
		}
		flex: auto;
		//		color:#fff;
		p {
			@media (min-width:$small) {
				padding-left:3rem;
			}
			font-weight:400;
			line-height:1.4rem;
		}
	}
	h3 {
		//		color:#fff;
		font-size:1.2rem;
		@media (min-width:$small) {
			font-size:1.7rem;
		}
		margin-top:1rem;
		@media (min-width:$small) {
			padding-left:3rem;
		}
	}
	footer {
		border-top-color:rgba(255, 255, 255, 0.2) ;
		background:none;
		color:#fff;
		a {
			color:#fff;
		}
		p {
			color:#fff;
		}
	}
	.button-consider {
		padding-left:1rem;
		padding-right:1rem;
		padding-top:.5rem;
		@media (min-width:$small) {
			padding-top:1rem;
			padding-top:0;
		}
	}
	.button-consider a {
		margin:auto;
		font-family: 'Roboto';
		font-size: 1.2rem;
		font-weight: 600;
		display: inline-block;
		margin: 0;
		width:100%;
		@media (min-width:$small) {
			width:auto;
			margin-left:3rem;
		}
		padding: .5rem 1.5rem;
		color:$purple;
		box-shadow: 1px 0 0 $purple inset, -1px 0 0 $purple inset, 0 1px $purple inset, 0 -1px $purple inset, 0 .3rem .8rem $purple ;
		border:none;
		//		border:2px solid $blue;
		-webkit-border-radius: .15rem;
		-moz-border-radius: .15rem;
		border-radius: .15rem;
		background-color: #fff;
		&:after {
			content:'\f105';
			padding-left:.5rem;
			font-family:FontAwesome;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		&:hover {
			box-shadow: 1px 0 0 $blue inset, -1px 0 0 $blue inset, 0 1px $blue inset, 0 -1px $blue inset, 0 .3rem .8rem $blue ;
			color: $blue;
			-webkit-transition: all .2s;
			transition: all .2s;
			text-decoration:none;
		}
		&:active {
		}
	}


	h3 {
		font-style:normal;
	}
	
}
.further-resources-panel {
	border:.1rem solid rgba(0, 0, 0, 0.1)  ;
}
.further-resources-link {
	//	padding-left:1.5rem;
	line-height:1.2;
	&:before {
		display:none;
		float:left;
		margin-left:-1.5rem;
		padding-right:.5rem;
		content:'\f0a9';
		font-size:1.2rem;
		font-family:FontAwesome;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color:darken($blue,10%);
	}
	a {
		font-family: 'Roboto';
		font-weight:400;
	}
}
