<!DOCTYPE html>
<html>
<head>
  <title>Gene Test Or Not?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
        <div class="logo">
          <p>Logo</p>
          <p>Goes</p>
          <p>Here</p>
        </div>
        <div class="logo-text">
          <p class="logo-text-one">
            Gene Test
          </p>
          <p class="logo-text-two">  
            Or Not?
          </p>
        </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">Home</a></li>
        <li><a href="">The 4 Questions</a></li>
        <li><a href="">Final Summary</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">Other Resources</a></li>
      </ul>
    </div>
  </nav>
</div>

<%= yield %>

<footer>
  <hr>
  <h5>© 2015 Virginia Tech</h5>
</footer>
</body>
</html>
